policy_module(POLICYNAME,1.0.0) 

require{
  type sysadm_t;
  role system_r; 
}

udd_application_create(POLICYNAME)
udd_application_user_role(staff_r, staff_t, POLICYNAME)

udd_application_dbus_access(POLICYNAME, staff_t)
 
