policy_module(udd,1.0.0) 

########################################
#
# Declarations
#
require{
  type audisp_t;
  type sysadm_t;
  role system_r; 
}

udd_application_create(user_data_defence_bus)
udd_application_user_role(system_r, audisp_t, user_data_defence_bus)

udd_application_create(user_data_defence_daemon)
udd_application_user_role(system_r, initrc_t, user_data_defence_daemon)
udd_application_user_role(system_r, init_t, user_data_defence_daemon)

udd_application_dbus_access(user_data_defence_bus, user_data_defence_daemon_t)
udd_application_dbus_access(user_data_defence_daemon, staff_t)


allow audisp_t user_data_defence_bus_t:file { read execute open };
require {
        type user_data_defence_bus_t;
        type audisp_t;
        class unix_stream_socket read;
}

#============= user_data_defence_bus_t ==============
allow user_data_defence_bus_t audisp_t:unix_stream_socket read;

require {
        type user_data_defence_bus_t;
        type staff_t;
        class process getsched;
        class unix_dgram_socket create;
}

#============= staff_t ==============
allow staff_t user_data_defence_bus_t:process getsched;

#============= user_data_defence_bus_t ==============
allow user_data_defence_bus_t self:unix_dgram_socket create;

require {
        type user_data_defence_bus_t;
        class unix_dgram_socket connect;
}

#============= user_data_defence_bus_t ==============
allow user_data_defence_bus_t self:unix_dgram_socket connect;

require {
        type user_data_defence_bus_t;
        class unix_dgram_socket write;
        type locale_t;
}

#============= user_data_defence_bus_t ==============
allow user_data_defence_bus_t self:unix_dgram_socket write;
logging_send_syslog_msg(user_data_defence_bus_t)
allow user_data_defence_bus_t locale_t:file { read getattr open };





require {
        type staff_t;
        type staff_java_t;
        class process { siginh noatsecure rlimitinh };
}

#============= staff_java_t ==============
allow staff_java_t staff_t:process { siginh rlimitinh noatsecure };
init_dbus_send_script(staff_java_t)

#============= user_data_defence_daemon_t ==============
allow user_data_defence_daemon_t self:fifo_file write;
dbus_connect_system_bus(user_data_defence_daemon_t)
logging_read_audit_log(user_data_defence_daemon_t)
miscfiles_read_localization(user_data_defence_daemon_t)
term_use_generic_ptys(user_data_defence_daemon_t)
term_write_console(user_data_defence_daemon_t)
userdom_use_inherited_user_ptys(user_data_defence_daemon_t)

dbus_unconfined(staff_t)

require {
        type staff_t;
        type textrel_shlib_t;
        type staff_java_t;
        type abrt_helper_t;
        class process { siginh rlimitinh };
        class file execute_no_trans;
}

#============= abrt_helper_t ==============
logging_read_generic_logs(abrt_helper_t)

#============= staff_java_t ==============
allow staff_java_t textrel_shlib_t:file execute_no_trans;
init_dbus_chat(staff_java_t)

#============= staff_t ==============
allow staff_t staff_java_t:process { siginh rlimitinh };

#============= audisp_t ==============
allow audisp_t user_data_defence_bus_t:process { siginh rlimitinh noatsecure };

#============= user_data_defence_bus_t ==============
allow user_data_defence_bus_t audisp_t:unix_stream_socket write;

#============= user_data_defence_daemon_t ==============
logging_read_generic_logs(user_data_defence_daemon_t)

#============= user_data_defence_bus_t ==============
allow user_data_defence_bus_t audisp_t:unix_stream_socket getattr;
